
backports.functools-lru-cache
backports.shutil-get-terminal-size 
backports.tempfile
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0

conda==4.3.16
decouple==0.0.7 
Django==3.2.7
django-admin-interface==0.17.0
django-colorfield==0.4.3
django-filter==2.4.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-import-export==2.6.0
fastcache==1.1.0
Flask 
folium==0.12.1
geocoder==1.38.1
gevent 
glob2 
google-auth==1.35.0
google-auth-oauthlib==0.4.6
gunicorn==20.1.0
html5lib 
idna==3.2
imagecodecs 
imageio 
imagesize 
importlib-metadata 
iniconfig  
json5==0.9.5
jsonschema 
mypy-extensions==0.4.3

numpy==1.19.5
numpydoc 
packaging 
pandas 
pandocfilters 

path 
pathlib2 
pathspec==0.7.0

pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.43.0.6
pydocstyle 
pyerfa
pyflakes 
Pygments 
pylint 
pyls-black 
pyls-spyder 
PyNaCl 
pyOpenSSL 
pyparsing 
pyreadline==2.1
pyrsistent 
PySocks 
pytest==6.2.3
python-dateutil==2.8.2
python-jsonrpc-server 
python-language-server 
pytz 
PyWavelets 
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome
qtconsole
QtPy==1.9.0
ratelim==0.1.6
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scikit-learn 
scipy 
spyder 
spyder-kernels 
SQLAlchemy 
sqlparse==0.4.2
statsmodels==0.12.2
tables==3.6.1
tablib==3.0.0
tblib
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.9.4
typing-extensions==3.7.4.3
ujson 
unicodecsv==0.14.1
urllib3==1.26.6
whitenoise==5.3.0
widgetsnbextension==3.5.1
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlwt==1.3.0
xmltodict==0.12.0
yapf
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
